<div class="top-menu">
  <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png" />
</div>

<div class="text-center">
  <h1>{{ title | uppercase }}</h1>
  <input class="demo" (keyup)="onKeyUp(titleInput.value)" [value]="title" #titleInput />
</div>

<!-- 
  {{ courses | json }} // JSON pipe 
-->

<div class="demo">
  <button (click)="onEditCourse()" i18n>Edit Course</button>
</div>

<div class="courses">

  <div class="text-center">
    <h2>Start date: {{ startDate | date: 'MMM dd yyyy' }}</h2>
  </div>

  <!--  
    ngFor: first as isFirst; last as isLast; even as isEven; odd as isOdd;
    [class.is-first]="isFirst" [class.is-last]="isLast" [class.is-even]="isEven" [class.is-odd]="isOdd"
  -->
  <course-card *ngFor="let course of courses; index as i;" (courseChanged)="save($event)" [course]="course"
    [cardIndex]="i + 1" type="beginner">
  </course-card>
</div>